.search-result-thumbnail img {
  width: 200px;
}
.search-result-thumbnail {
  float: left;
  margin-right: 10px;
}
.search-result-entry {
  clear: left;
}
@media screen and (max-width: 768px) {
  .search-result-thumbnail {
    float: none;
    margin-right: 0;
  }
}