.qexo_inner,
.qexo_loader {
  border-radius: 50%;
  position: absolute;
}

.qexo_loading {
  min-height: 200px;
}

.qexo_part {
  min-height: 100px;
}

.qexo_loader {
  background-color: #90939920;
  width: 64px;
  height: 64px;
  perspective: 800px;
}

.qexo_inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.qexo_inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #888;
  position: absolute;
}

.qexo_inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #888;
  position: absolute;
}

.qexo_inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #888;
  position: absolute;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.qexo-friends {
  opacity: 0.9;
  margin-left: 10px;
  padding-bottom: 15px;
}

.qexo-friends a {
  color: black;
}

.qexo-friends p {
  display: none;
}

.qexo-friendurl {
  text-decoration: none !important;
  color: black;
}

.qexo-myfriend {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-top: 14px !important;
  margin-left: 14px !important;
  background-color: #fff !important;
}

.qexo-frienddiv {
  height: 92px;
  margin-top: 10px;
  width: calc(100% - 10px);
  margin-right: 10px;
  box-shadow: -1px 5px 10px 0px rgb(50 50 93 / 10%),
    0px 0px 10px rgb(0 0 0 / 7%) !important;
  display: inline-block !important;
}

@media screen and (min-device-width: 600px) {
  .qexo-frienddiv {
    width: calc(49% - 5px);
  }
}

.qexo-frienddiv:hover {
  background: rgba(87, 142, 224, 0.15);
}

.qexo-frienddiv:hover .qexo-frienddivleft img {
  transition: 0.9s !important;
  -webkit-transition: 0.9s !important;
  -moz-transition: 0.9s !important;
  -o-transition: 0.9s !important;
  -ms-transition: 0.9s !important;
  transform: rotate(360deg) !important;
  -webkit-transform: rotate(360deg) !important;
  -moz-transform: rotate(360deg) !important;
  -o-transform: rotate(360deg) !important;
  -ms-transform: rotate(360deg) !important;
}

.qexo-frienddivleft {
  width: 92px;
  float: left;
}

.qexo-frienddivleft {
  margin-right: 4px;
}

.qexo-frienddivright {
  margin-top: 18px;
  margin-right: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
